*{
  border:solid 1px black;
  box-sizing:border-box;
}
body{
  font-family: font-family: 'Noto Serif', serif;
  line-height: 1.45;
}

.banner{
  min-height: 100vh;
  background-image: url('../img/leaves.jpg');
  background-size: cover;

}
 .dog{
  background-image:url('../img/dog.jpg');
  background-size: cover;
  background-position: center;
  min-height: 50vh;
}

  .bed{
    background-image: url('../img/bed.jpg');
    background-size: cover;
    background-position: center;
    min-height: 50vh;

  }
  .pencil{
    background-image: url('../img/pencil.jpg');
    background-size: cover;
    background-position: left -160px;
    min-height:50vh;
  }


}
h1{
  font-size: 2rem;



}

h2{

}
h3{
  font-size: 5rem;
  margin-bottom: 1rem;

}
h4{
  font-size: 5rem;


}
h5{
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;


}
h6{
  font-size: 4rem;

}
/*QUOTE SECTION*/
.quote{
  min-height: 50vh;
}
.quote q{
  font-size: 2rem;
}
.quote p{
  font-size: 1.75rem;
  opacity:0.5;
}

/*FOOTER SECTION*/
.footer{
  background-color: #192B37;
  min-height:75vh;

}
.footer form *{
  display: block;
  width:100%;
  margin-top:10px;
  margin-bottom: 10px;
  padding:12px 8px;
  border-radius: 8px;
}
/* Text Helpers*/
.text-center{
  text-align: center;
}
.text-right{
  text-align:right;
}
.text-white{
  color: white;
}
.text-yellow{
  color:#FFBE00;
}
 /*FONT  HELPERS*/
 .roboto-regular{
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
 }
 .roboto-bold{
   font-family: 'Roboto', sans-serif;
   font-weight: 700;
 }

 /*SPACING HELPERS*/
 .padding-left{
   padding-left:5%;

 }
 .padding-right{
   padding-right: 5%;
 }

 .padding-left-right{
   padding-left:5%;
   padding-right:5%;
 }

.margin-none{
  margin:0;
}
 .margin-y-none{
   margin-top:0;
   margin-bottom: 0;
 }
 .margin-x-none{
   margin-left: 0;
   margin-right: 0;
 }

 .margin-top-none{
   margin-top: 0;

   }
   .margin-bottom-none{
     margin-bottom: 0;
   }
